@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --colorCeleste: #22B1D0;
    --colorGris: #DCDCDC;
    --colorNaranja: #F49B49;
    --colorBlanco: #FFFFFF;
    --colorVerde:rgb(7, 114, 7);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    list-style: none;
}

.detalle-producto {
    background-color: var(--colorGris);
}

.detalle-producto .categorias ul {
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    color: rgb(3, 3, 3);
    text-decoration: none;
}

.detalle-producto .categorias ul a {
    text-decoration: none;
    margin-right: 4px;
    color: black;
}



.detalle-producto .separador-uno {
    margin-top: 0px;
    width: 80%;
    margin: auto;
}



.detalle-producto .main-detalleProducto {
    width: 100vw;
}

.detalle-producto .carousel-detalleProducto {
    width: 90%;
    margin: auto;
    margin-left: 10px;
}

.detalle-producto .carousel-inner {
    display: flex;
    margin: auto;
    width: 80%;
    position: relative;
}

.detalle-producto .descripcion {
    margin-left: 10px;
}

.detalle-producto .descuento {
    display: flex;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #22B1D0, #1fd2fa, #14b7db);
    color: var(--colorBlanco);
    border: solid 1px black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;
    position: absolute;
    left: 68%;
    top: 7%;
    z-index: 2;
}

.detalle-producto .descuento p {
    margin: auto;
}

.detalle-producto .descripcion-precio {
    display: flex;
    flex-direction: column;

}

.detalle-producto .precio {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}

.detalle-producto .titulo {
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
}

.detalle-producto .separador2 {
    width: 97%;
    margin: auto;
    margin-top: 10px;
}

.detalle-producto .boton-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60px;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    background-color: var(--colorNaranja);
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px 2px rgb(168, 164, 164);
    cursor: pointer;
    transition: all 0.1s ease;
    font-size: 18px;
}

.detalle-producto .agregar-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60px;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    background-color: var(--colorNaranja);
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px 2px rgb(168, 164, 164);
    cursor: pointer;
    transition: all 0.1s ease;
    font-size: 18px;
}

.detalle-producto .boton-comprar:hover {
    background: linear-gradient(to right, #cf8642, #f3a15a, #c57a34);
    ;
}

.detalle-producto .agregar-carrito:hover {
    background: linear-gradient(to right, #cf8642, #f3a15a, #c57a34);
    ;
}

.detalle-producto .boton-comprar:active {
    transform: scale(.9);
}

.detalle-producto .agregar-carrito:active {
    transform: scale(.9);
}

.detalle-producto .boton-comprar a {
    color: var(--colorBlanco);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

.detalle-producto .agregar-carrito a {
    color: var(--colorBlanco);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}


.detalle-producto .tarjeta-envio {
    display: flex;
    width: 90%;
    flex-wrap: nowrap;
    height: 100px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 15px;

}

.detalle-producto .envio {
    width: 100%;
    height: 40%;
}

.detalle-producto .envio p {
    display: inline-block;
}

.detalle-producto .envio p i {
    width: 32px;
    height: 32px;
    border: solid 1px black;
    border-radius: 50%;
    padding: 7px;
    color: rgb(7, 114, 7);
    background-color: #ffffff;
}




.detalle-producto .gratis b {
    color: rgb(7, 114, 7);
    margin-left: 4px;
}

.detalle-producto .tarjeta {
    width: 100%;
    height: 40%;
}

.detalle-producto .tarjeta p {
    display: inline-block;
}

.detalle-producto .tarjeta p i {
    width: 32px;
    height: 32px;
    border: solid 1px black;
    border-radius: 50%;
    padding: 7px;
    color: rgb(7, 114, 7);
    background-color: var(--colorBlanco);
}

.detalle-producto .productos-recomendados {
    margin-top: 30px;
}

.detalle-producto .separador3 {
    width: 60%;
    margin: auto;
    margin-top: 80px;
}


.detalle-producto .menuAcordeon-detalleProducto {
    width: 80%;
    margin-top: 40px;
}

.detalle-producto .img-items {
    display: none;
}

.detalle-producto .imagen-principal {
    display: none;
}

.detalle-producto .imagen-principal {
    display: none;
}

.detalle-producto .fichaTecnica-descripcion {
    width: 90%;
    margin-top: 100px;
    margin-left: 10px;
}

.detalle-producto .descripcion-titulo,
.detalle-producto .fichaTecnica-titulo {
    display: flex;
    color: var(--colorBlanco);
    justify-content: flex-start;

}

.detalle-producto .descripcion-titulo p i,
.detalle-producto .fichaTecnica-titulo p i {
    margin-right: 4px;
    color: rgb(65, 62, 62);
}

.detalle-producto .accordion-button {
    background: linear-gradient(to right, #22B1D0, #4bcbe7, #a2e8f8);

}

.detalle-producto .accordion-body {
    background-image: url(../img/detailProduct/imagenFondo-descripcion.jpg);
    background-size: cover;
}



.detalle-producto .articulo-recomendado{
    width: 200px;
    height: 370px;
    border: solid 1px black;
    margin-right: 15px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgb(105, 102, 102);
    text-align: center;
    background-color: #ffffff;
}

.detalle-producto .articulo-recomendado .titulo{
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.detalle-producto .articulo-recomendado .precio{
    display: block;
font-size: 22px;
color: var(--colorNaranja);
}

.detalle-producto .articulo-recomendado .descuento-articulo{
display: block;
font-size: 20px;
font-weight: 500;
color: var(--colorVerde);
padding: 2px;
}






/* !TABLET */


@media(min-width:481px) {
    .detalleProducto {
        width: 100%;
    }

    .detalle-producto .carousel-detalleProducto {
        margin: auto;
        width: 90%;
    }

    .detalle-producto .descripcion {
        margin-left: 10px;
    }

    .detalle-producto .descuento {
        display: flex;
        width: 80px;
        height: 40px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #22B1D0, #1fd2fa, #14b7db);
        color: var(--colorBlanco);
        border: solid 1px black;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 14px;
        position: absolute;
        left: 75%;
        top: 8%;
        z-index: 2;
    }

    .detalle-producto .descuento p {
        margin: auto;
    }

    .detalle-producto .precio-regular {
        color: rgba(black, black, black, 0.5);
        font-size: 13px;
    }

    .detalle-producto .precio-regular span {
        text-decoration: line-through;
        opacity: .5;
    }

    .detalle-producto .descripcion-precio h4 {
        font-size: 29px;
    }

    .detalle-producto .tarjeta-envio {

        font-size: 17px;
    }

}




/* !DESKTOP */

@media(min-width:769px) {
    .detalleProducto {
        display: flex;
        flex-direction: row;
    }

    .detalle-producto .carousel-detalleProducto {
        width: 50%;
    }

    .detalle-producto .descripcion {
        width: 50%;
        margin-top: 60px;
        margin-left: 30px;
    }

    .detalle-producto .descuento {
        display: flex;
        width: 80px;
        height: 40px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #22B1D0, #1fd2fa, #14b7db);
        color: var(--colorBlanco);
        border: solid 1px black;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 14px;
        position: absolute;
        left: 75%;
        top: 8%;
        z-index: 2;
    }

    .detalle-producto .descuento p {
        margin: auto;
    }


    .detalle-producto .descripcion-precio h4 {
        font-size: 27px;
    }

    .detalle-producto .precio-regular {
        color: rgba(black, black, black, 0.5);
        font-size: 13px;
    }

    .detalle-producto .precio-regular span {
        text-decoration: line-through;
        opacity: .5;
    }

    .detalle-producto .precio {
        font-size: 30px;
        font-weight: 500;
    }

    .detalle-producto .descripcion-fichaTecnica {
        display: none;
    }

    .detalle-producto .tarjeta-envio {
        font-size: 15px;
    }

    .detalle-producto .boton-comprar,
    .detalle-producto .agregar-carrito {
        width: 50%;
    }

    .detalle-producto .slide {
        display: none;
    }

    .detalle-producto .img-items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 180px;
        margin-top: 20px;
        margin-left: 40px;


    }

    .detalle-producto .imagen-principal {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 400px;
        position: relative;
    }

    .detalle-producto #img-principal {
        width: 400px;
        height: 400px;


    }

    .detalle-producto .item {
        width: 75%;
        margin: auto;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

    }

    .detalle-producto .item:hover {
        border: solid 1px var(--colorCeleste);
        border-radius: 5px;
        transform: scale(1.2);
    }


}






@media(max-width: 480px) {
    .detalle-producto .precio-regular {
        display: none;
    }
}

@media(min-width:1250px) {
    .detalle-producto .descripcion-precio h4 {
        font-size: 38px;
    }
}

@media(max-width: 355px) {
    .detalle-producto .tarjeta-envio {
        display: none;
    }
}