@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Montserrat;
}

*{
    list-style: none;
}

.body-detalleProducto{
    background-color: #DCDCDC;
}

.navegacion{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.categorias-producto a{
    color: rgb(109, 107, 107);
    text-decoration:none;
}

.main-detalleProducto{
    width: 100vw;
}



.carousel-detalleProducto{
    width: 90%;
    margin: auto;
    margin-left: 10px;
}


.carousel-inner{
    display: flex;
    margin: auto;
    width: 80%;
    position: relative;
}

.right, .left{
    text-decoration: none;
}

.descripcion{
    margin-left:10px;
}

.descuento{
    display: flex;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#22B1D0, #1fd2fa, #14b7db) ;
    color: #ffffff;
    border: solid 1px black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;
    position: absolute;
    left: 68%;
    top: 7%;
    z-index: 2;
}

.descuento p{
    margin:auto;
}

.descripcion-precio{
    display: flex;
    flex-direction: column;
    
}

.precio{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}



.descripcion p{
    font-size:22px;
    font-weight: 600;
    line-height:normal;
}

.separador2{
    width: 97%;
    margin: auto;
    margin-top: 10px;
}

.boton-comprar{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60px;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    background-color: #F49B49;
    margin-left: 5px;
    margin-top:15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px 2px rgb(168, 164, 164);
    cursor: pointer;
}

.boton-comprar:hover{
    background: linear-gradient(to right,#cf8642,#f3a15a,#c57a34);
}

.boton-comprar:active{
        width:69%;      
}

.boton-comprar a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

.tarjeta-envio{
    display: flex;
    flex-direction: column;
    width:70%;
    height: 100px;
    margin-top:30px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 15px;

}

.envio-gratis span i{
    margin-right: 7px;
    color:rgb(42, 175, 236)
}

.envio-gratis span b{
    width: 300px;
    color: rgb(101, 161, 41);
}

.envio-gratis{
    min-width:320px;
}
.tarjeta{
    min-width:320px;
}

.tarjeta a i{
    margin-right: 7px;
    
}

.tarjeta a{
    color: rgb(42, 175, 236);
    text-decoration: none;
    text-decoration-color: none;
}


.productos-recomendados{
    margin-top: 30px;
}

.separador3{
    width: 60%;
    margin: auto;               
    margin-top:40px;
}

.descripcion-fichaTecnica{
    margin-top: 50px;
}


@media(max-width: 480px){
.precio-regular{
    display: none;
}
}

.menuAcordeon-detalleProducto{
    width: 80%;
    margin-top: 50px;
}






/* !TABLET */


@media(min-width:481px){
    .detalleProducto{
        width: 100%;
    }

    .carousel-detalleProducto{
        width: 90%;
    }

    .descripcion{
        margin-left:10px;
    }
  
    .descuento{
        display: flex;
        width: 80px;
        height: 40px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right,#22B1D0, #1fd2fa, #14b7db) ;
        color: #ffffff;
        border: solid 1px black;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 14px;
        position: absolute;
        left: 75%;
        top: 8%;
        z-index: 2;
    }

    .descuento p{
        margin:auto;
    }

    .precio-regular{
        color: rgba(black, black, black, 0.5);
        font-size: 13px;
    }
    .precio-regular span{
        text-decoration: line-through;
        opacity: .5;
    }
    
   .descripcion-precio h4 {
       font-size:29px;
   }

    
    }




/* !DESKTOP */

@media(min-width:769px){
.detalleProducto{
    display: flex;
    flex-direction: row;
}
.carousel-detalleProducto{
    width: 50%;
}
.descripcion{
    width: 50%;
    margin-top: 60px;
    margin-left: 30px;
}

.descuento{
    display: flex;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#22B1D0, #1fd2fa, #14b7db) ;
    color: #ffffff;
    border: solid 1px black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;
    position: absolute;
    left: 65%;
    top: 8%;
    z-index: 2;
}

.descuento p{
    margin:auto;
}


.descripcion-precio h4{
    font-size: 27px;
}

.precio-regular{
    color: rgba(black, black, black, 0.5);
    font-size: 13px;
}
.precio-regular span{
    text-decoration: line-through;
    opacity: .5;
}

.precio{
    font-size: 30px;
    font-weight: 500;
}

.descripcion-fichaTecnica{
    display: none;
}

.right, .left{
    display: none;
}
}




@media(max-width: 480px){
    .precio-regular{
        display: none;
    }
}

@media(min-width:1250px){
    .descripcion-precio h4{
        font-size: 38px;
    }
}





















/*ESTILOS DE MENU ACORDEON/ DESCRIPCION, FICHA TECNICA*/

a:hover, a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 15px;
}
#accordion .panel-heading{
    padding: 0;
    border-radius:0;
    border: none;
}
#accordion .panel-title a{
    display: block;
    padding: 14px 30px 14px 70px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #F49B49;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed{
    background: linear-gradient(to right, #22B1D0, #98cfdb, #c4eaf3);
    color: #000000;
}
#accordion .panel-title a.collapsed:hover{
    color: #000000;
}
#accordion .panel-title a:before{
    content: "";
    width: 55px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: -13px;
    transform: skewX(-25deg);
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:hover:before{
    background: #22B1D0;
}
#accordion .panel-title a:after{
    content: "\f047";
    font-family: FontAwesome;
    position: absolute;
    left: 10px;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
}
#accordion .panel-title a.collapsed:after{
    color: #9f9f9f;
}
#accordion .panel-title a.collapsed:hover:after{
    color: #ffffff;
}
#accordion .panel-body{
    font-size: 14px;
    color: #5a3245;
    line-height: 25px;
    padding: 20px 15px 20px 40px;
    position: relative;
    border: none;
    transition: all 0.5s ease 0s;
}
#accordion .panel-body:before{
    content: "";
    width: 5px;
    height: 40px;
    background: #F49B49;
    position: absolute;
    top: 30px;
    left: 0;
}
#accordion .panel-body p{
    margin-bottom: 0;
}