*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --colorCeleste: #22B1D0;
    --colorGris: #DCDCDC;
    --colorNaranja: #F49B49;
    --colorBlanco: #FFFFFF;
}
li {
    list-style: none;
}

