.login main{
  background-color: #DCDCDC;
  padding-bottom: 30px;
  width: 90%;
 margin: 0 auto;
}

/* titulo del fomulario */
.login main h4{
  padding-top: 30px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color:black;
}

/* contenedor formulario */
.login main .box-contain {
      width: 80%;
      margin: 0 auto;
      max-width: 375px;
}

/* p input */
.login main .box-contain p{
  margin: 30px 0 3px ;
  font-size: 12px;
  font-weight:800;
  color: black;
}

/* input */
.login main .box-contain input.text{
  width: 100%;
  border: none;
}

/* contenedor button */
.login main .box-contain .box-button{
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
 
}
.login main .box-contain .box-button{
  display: flex;
  width: 100%;
  justify-content:flex-start;
  padding-bottom: 20px;
}
.login main .box-contain .box-button2{
  display: flex;
  width: 100%;
  justify-content:flex-end;
}


/* button */
.login main .btn-registro {

  border: none;
  padding: 0px 10px;
  margin-top: 20px;
 border-radius: 8px;
  font-size: 14px;
  color: black;
  font-weight: 700;
}





.login main .box-contain .box-button .btn-registro{
  
  background-color:#DCDCDC;
  box-shadow: 0px 0px 7px 1px black;
}

/*Efecto */
.login main .box-contain .box-button:hover{
  color: white;
    transition: all 0.2s ease;
    transform: scale(1.09);
}
.login main .box-contain .box-button2 .btn-ingresar{ 
  margin-right: -20px;
  border: none;
  padding: 5px 20px;
  border-radius: 2px;
  font-size: 14px;
  color: black;
  font-weight: 700;
}

/*Efecto */
.login main .box-contain .box-button2:hover{
  color: white;
    transition: all 0.2s ease;
    transform: scale(1.09);
}
.login main .box-contain .box-button2 .btn-ingresar{
  background-color: var(--colorCeleste);
}





/* contenedor carrousel */
.login main .box-carrousel{
  display: none;
}

@media (min-width: 768px){
  
  /* titulo del fomulario */
  .login main h4{
      font-size: 22px;
  }

  /* p input */
  .login main .box-contain p{
      font-size: 15px;
  }

  /* button */
  .login main .box-contain .box-button .btn-registro, .btn-ingresar{
      font-size: 17px;
  }

  /* contenedor carrousel */
  .login main .box-carrousel {
    display: block;
    justify-content:flex-end;
    width: 70%;
    margin: 30px auto 0;
}

  /*img carrousel */
  .login main .box-carrousel .banner img{
    height: 300px;
    }

}

@media (min-width: 1024px){
  .login main {
    display: flex;
    flex-direction:row-reverse;
  }

  /*img carrousel */
  .login main .box-carrousel .banner img{
    height: 200px;
  }

  /* contenedor carrousel */
   .login main .box-carrousel {
    
    width: 45%;
 
  }  
}