<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/file/d/1Jmf7zdvvsy0VLGIm9JgOQlpD8Hf204gx">
  
  <title>carrito</title>
</head>

<body class="carrito">
  <header>

    <div class="nav-search-header">
      <div class="logo"> <img src="/img/home/Logo C-E.png" alt=""></div>

      <div class="searh-header">
        <div class="buscador">
          <div class="search-bar"><input type="text" class="buscar_texto"></div>
          <div class="search"><button type="submit"><i class="fas fa-search"></i></button> </div>

        </div>

        <div class="menu-bar">
          <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Opotunidades</a></li>
            <li><a href="">Ayuda</a></li>
          </ul>
        </div>
      </div>
      <div class="menu-head">
        <a class="user-head" href="/login"><i class="fas fa-user"></i></a>
        <a class="menu-burguer" href=""><i class="fas fa-bars"></i></a>
        <a class="carrito-head" href=""><i class="fas fa-shopping-cart"></i></a>

      </div>
    </div>

  </header>
<body class="carrito">
  <main class="vista-carrito">

    <div class="contenedor">
      <section class=detalle-carrito-colum>
       
          <ul class="option">
            <a class="detalle-carrito" href="">CARRITO</a>
            <article>
              <img src="/img/carrito/imagen1.jpg" alt="" width="100px" height="60px">
              <div class="descripcion-producto">
                <h5 class="detalle">Samsung a10</h5>
                <h5 class="detalle">$15.000</h5>
            </article>
  
            <article class="parlante">
              <img src="/img/carrito/imgen2.jpg" alt="" width="100px" height="60px">
              <div class="descripcion-producto">
                <h5 class="detalle">Parlante portatil</h5>
                <h5 class="detalle">$1.000</h5>
            </article>  
          </section> 
          <div class="cantidad">
          <li class="cant"><a href="">CANTIDAD</a></li>
          <div class="cantidad-precio">
            <li class="cant">- 1 +</li>
          </div>
          <div class="cantidad-precio">
            <li class="cant">- 2 +</li>
          </div>
          
        </div>
        <div class="total">
          <li class="cant"><a href="">TOTAL</a></li>
          <div class="cantidad-precio">
            <li class="cant">$15.000</li>
          </div>
          <div class="cantidad-precio">
            <li class="cant">$2.000</li>
          </div>
          <div class="cantidad-precio">
            <li class="cant">$17.000</li>
          </div>
        </div>
          </div>
        </div>
        <div class="boton">
<button class="comprar">Comprar</button></div>

      </section>

    </div>

    <h4 class="basado">Articulos que te interesaron</h4>

    <div class="articulos"> 
      <div class="producto">
      <article>
          <img src="/img/carrito/imagen5.jpg" alt="" width="100" height="100" />
          <h4 class="precio">$23.200</h4>
          <h5 class="detalle">Samsung a12</h4>
      </article>
    </div>

    <div class="producto">
      <article>
     <img src="/img/carrito/imagen4.jpg" alt="" width="100" height="100" />
          <h4 class="precio">$3.200</h4>
          <h5 class="detalle">Afeitadora Gama</h4>
      </article>
    </div>
    <div class="producto">
      <article>
     <img src="/img/carrito/imagen3.jpg" alt="" width="100" height="100" />
          <h4 class="precio">$33.200</h4>
          <h5 class="detalle">Smart TV</h4>
      </article>
    </div>

  </main>



  <footer>
   
    <div class="redes-sociales">
      <span class="seguinos">¡Seguinos!</span>
    
    <div class="img">
      <a  href="#"><img class="instagram" src="/img/redes-sociales/instagram-f.png" alt="Instagram Community Electro"></a>
      <a  href="#"><img class="facebook"  src="/img/redes-sociales/facebook-f.png" alt=" Facebook Community Electro"></a>
      <a  href="#"><img class="twitter"  src="/img/redes-sociales/twitter-f.png" alt="Twitter Community Electro"></a>
    </div>
    </div>
    
    <div class="atencion-cliente">
    
    <div class="contacto">
      <p>¿Tenes alguna duda?</p>
      <p>Nosotros te ayudamos</p>
    </div>
    <div class="atencion">
         <p><i class="fas fa-paper-plane"></i>Atencion al cliente</p>
         <a href="#">communityElectro@gmail.com</a>
    </div>
    <div class="telefono">
      <p><i class="fas fa-phone-alt"></i>Venta telefonica</p>
         <a href="#">1191234567</a>
         
    </div>
    </div>
    
    <div class="logo-copy">
      <img class="logo" src="/img/home/Logo C-E.png" alt="Logo Community Electro">
      <p class="copy">Los precios expresados incluyen IVA - Las fotografias son a modo ilustrativo - CommunityElectro se reserva el derecho de modificar los precios promocionados.</p>
      <p class="copy"><i class="far fa-copyright"></i>COMMUNITY ELECTRO 2021. Todos los derechos reservados.</p>
    </div>
    </div>
    
  </footer>



</body>

</html>