<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle del producto</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/datailProduct.css">


</head>

<body class="body-detalleProducto">

  <header>
  </header>

  <main class="main-detalleProducto">
    <div class="categorias-producto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Tv y Video</a></li>
          <li class="breadcrumb-item active" aria-current="page">TV</li>
        </ol>
      </nav>
    </div>

    <hr class="separador">

    <section class="detalleProducto">

      <div class="carousel-detalleProducto">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="descuento">
              <p>30 OFF%</p>
            </div>
            <div class="carousel-item active">
              <img src="../public/img/detailProduct/smartv-43-samsung-img1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../public/img/detailProduct/smartv-43-samsung-img2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../public/img/detailProduct/smartv-43-samsung-img3.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>


      <div class="descripcion">
        <div class="descripcion-precio">
          <h4>Smart TV 4K UHD Samsung 43" UN43TU7000</h4>
          <span class="precio-regular">Precio regular: <span> 79.999$</span> </span>
          <span class="precio-online">Precio online:</span>
          <span class="precio">$63.999</span>
        </div>
        <hr class="separador2">

        <div>
          <div class="boton-comprar">
            <a href="#">
              <i class="fas fa-shopping-cart"></i>
              <span class="comprar">comprar</span>
            </a>
          </div>


          <div class="tarjeta-envio">

            <div class="envio-gratis">
              <span><i class="fas fa-truck"></i>Envios GRATIS solo para <b>CABA o GBA</b></span>
            </div>

            <div class="tarjeta">
              <a href="#"><i class="fas fa-credit-card"></i>Conoce las cuotas con tu tarjeta</a>
            </div>
          </div>



        </div>


      </div>
      </div>

    </section>


    <!--MENU DESPLEGABLE DE LA DESCRIPCION DEL PRODUCTO-->
    <div class="descripcion-fichaTecnica">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <div>
                <i class="fas fa-exclamation-circle"></i>
                Descripcion
              </div>

            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="descripcion-TV"> Led Smart. 43" Resolucion Crystal 4K UHD. Potencia de salida de sonido 20W.
                HDMI x 2. USB x 1. Bluetooth. Wi Fi. Sistema operativo Tizen. Incluye control remoto (one remote).
                Frecuencia de barrido 60 GHz. HDR.</div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <div class="deescripcion-icon">
                <i class="far fa-file-alt"></i>
                Ficha tecnica
              </div>

            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="contenedor-fichaTecnica">
                <ul>
                  <li><b>Imagen</b>:
                    Tamaño de Pantalla
                    43"</li>
                  <li><b>Tipo de resolución</b>:
                    4K UHD</li>
                  <li><b>Resolución</b>:
                    3840 x 2160p</li>
                  <li><b>Formato de pantalla:</b> Plano</li>
                  <li><b>Tipo de pantalla:</b>
                    LED 4K Ultra HD</li>
                  <li><b>Caracteristicas generales:</b>Smart TV</li>
                  <li><b>Caracteristicas Smart:</b></li>
                  <li><b> Youtube:</b> si</li>
                  <li><b>Netflix:</b> si</li>
                  <li><b>Entradas hdmi:</b>2</li>
                  <li><b>Entradas usb:</b>1</li>
                  <li><b>Conexion a internet:</b>si</li>
                  <li><b>Control remoto:</b>si</li>
                  <li><b>Dimenciones:</b></li>
                  <li><b>Alto</b>: 57,2cm</li>
                  <li><b>Ancho:</b>97,9cm</li>
                  <li><b> Profundidad:</b> 7,7cm</li>
                  <li><b> Peso:</b> 8,3kg</li>
                  <li><b>Modelo:</b>UN43TU7000</li>
                  <li><b>Origen:</b>Argentina</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="separador3">



    <!-- PRODUCTOS RECOMENDADOS-->
    <section class="productos-recomendados">

      <div class="productos">
        <h3>Mira tambien</h3>
      </div>
    </section>
  </main>

  <footer>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
  </script>
</body>

</html>