<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle del producto</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../public/css/glider.css">
  <link rel="stylesheet" href="../public/css/styles.css">

</head>

<body class="detalle-producto">

  <!--HEADER-->

  <header>
    <div class="nav-search-header">
      <div class="logo"> <img src="/img/home/Logo C-E.png" alt=""></div>

      <div class="searh-header">
        <div class="buscador">
          <div class="search-bar"><input type="text" class="buscar_texto"></div>
          <div class="search"><button type="submit"><i class="fas fa-search"></i></button> </div>

        </div>

        <div class="menu-bar">
          <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Opotunidades</a></li>
            <li><a href="">Ayuda</a></li>
          </ul>
        </div>
      </div>
      <div class="menu-head">
        <a class="user-head" href="/login"><i class="fas fa-user"></i></a>
        <a class="menu-burguer" href=""><i class="fas fa-bars"></i></a>
        <a class="carrito-head" href="/carrito"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </div>
  </header>

  
  <!--MAIN-->
  <main>
    <!-- NAV DE CATEGORIAS-->
    <div class="categorias">
      <ul>
        <a href="/home.html">Home ›<li></li></a>
        <a href="#">Tv y Video ›<li></li></a>
        <a href="#">TV<li></li></a>
      </ul>
    </div>

    <hr class="separador-uno">

    <section class="detalleProducto">

      <!-- CAROUSEL DEL PRODUCTO MOSTRADO EN MOBILE Y TABLET-->

      <div class="carousel-detalleProducto">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="descuento"> <!--ETIQUETA DE DESCUENTO-->
              <p>30 OFF%</p>
            </div>

            <div class="carousel-item active">
              <img src="../public/img/detailProduct/smartv-43-samsung-img1.png" class="d-block w-100" alt="Samsung Smart TV Crystal 43' 4K -img1">
            </div>
            <div class="carousel-item">
              <img src="../public/img/detailProduct/smartv-43-samsung-img2.png" class="d-block w-100" alt="Samsung Smart TV Crystal 43' 4K -img2">
            </div>
            <div class="carousel-item">
              <img src="../public/img/detailProduct/smartv-43-samsung-img3.png" class="d-block w-100" alt="Samsung Smart TV Crystal 43' 4K -img3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!--IMAGEN PRINCIPAL DEL PRODUCTO EN DESKTOP-->
        <div class="imagen-principal">
          <img id="img-principal" src="../public/img/detailProduct/smartv-43-samsung-img1.png" alt="Samsung Smart TV Crystal 43' 4K -img1">
          <div class="descuento">
            <p>30 OFF%</p>
          </div>
        </div>

         <!--GALERIA DE IMAGENES SMALL ITEM DEL DESKTOP-->
        <div class="img-items">
          <div><img class="item" id="img-prev1" src="../public/img/detailProduct/smartv-43-samsung-img1.png" alt="Samsung Smart TV Crystal 43' 4K -img1">
          </div>
          <div><img class="item" id="img-prev2" src="../public/img/detailProduct/smartv-43-samsung-img2.png" alt="Samsung Smart TV Crystal 43' 4K -img2">
          </div>
          <div><img class="item" id="img-prev3" src="../public/img/detailProduct/smartv-43-samsung-img3.png" alt="Samsung Smart TV Crystal 43' 4K -img3">
          </div>
        </div>
      </div>

      <!-- TITULO/PRECIOS/BOTONES DE COMPRAR Y CARRITO/MEDIOS DE ENVIO Y METODO DE PAGO-->
          <div class="descripcion">
          <p class="titulo">Smart TV 4K UHD Samsung 43" UN43TU7000</p>
          <div class="descripcion-precio">
          <span class="precio-regular">Precio regular: <span> 79.999$</span> </span>
          <span class="precio-online">Precio online:</span>
          <span class="precio">$63.999</span>
        </div>

        <hr class="separador2">

        <div class="boton-comprar">
          <a href="./carrito.html">
            <span class="comprar">comprar</span>
          </a>
        </div>

        <div class="agregar-carrito">
          <a href="#">
            <i class="fas fa-shopping-cart"></i>
            <span class="carrito-detailProduct">Agregar al carrito</span>
          </a>
        </div>

        <div class="tarjeta-envio">

          <div class="envio">
            <p><i class="fas fa-truck"></i></p>
            <p class="gratis">Envios GRATIS solo para<b>CABA o GBA</b></pcla>
          </div>


          <div class="tarjeta">
            <p><i class="fas fa-credit-card"></i></p>
            <a class="cuotas" href="#">Conoce las cuotas con tu tarjeta</a>
          </div>
        </div>
      </div>
    </section>

    <!--MENU ACORDEON DESPLEGABLE DE LA DESCRIPCION DEL PRODUCTO-->

    <div class="fichaTecnica-descripcion">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <div class="descripcion-titulo">
                <p><i class="fas fa-exclamation-circle"></i></p>
                <p>Descripcion</p>
              </div>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <h3>DESCRIPCION</h3>

              <p>Con la tecnología Crystal UHD 4K, HDR y un diseño sofisticado y súper delgado, el Smart TV Samsung
                UN43TU7000 ofrece una experiencia multimedia única. Además, es eficiente, intuitivo y fácil de usar.
                </h5>

                h2Conectá tus dispositivos
                Mediante sus entradas HDMI podés conectar reproductores de audio y video; consolas de juegos y
                notebooks. Su gran capacidad de transmisión de datos permite disfrutar de imágenes en alta definición y
                un sonido de gran fidelidad. También, a través de su puerto USB podrás reproducir contenido digital
                (música, imágenes y videos) almacenado en dispositivos externos como tablets, smartphones y pendrives.

                Navegá por la web
                Gracias a que posee Wi-Fi incorporado, podrás acceder a internet de forma inalámbrica, navegar y
                ejecutar tus aplicaciones favoritas.

                Disfrutá 4K UHD
                El Smart TV Samsung UN43TU7000 tiene una resolución cuatro veces superior a la de una TV Full HD (3840 x
                2160 píxeles) y cuenta con una pantalla Crystal Display con imágenes con una gama de colores más amplia.
                La pantalla Crystal Display garantiza una expresión de colores optimizada para que puedas ver cada
                detalle. Su panel LED ofrece además la característica de alto rango dinámico (HDR), que aumenta la
                expresión brillante del televisor para que puedas disfrutar de un inmenso espectro de colores y detalles
                visuales, incluso en las escenas más oscuras.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <div class="fichaTecnica-titulo">
                <p><i class="far fa-file-alt"></i></p>
                <p>Ficha tecnica</p>
              </div>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li><b>Imagen</b>:
                Tamaño de Pantalla
                43"</li>
                <li><b>Tipo de resolución</b>:
                4K UHD</li>
                <li><b>Resolución</b>:
                3840 x 2160p</li>
                <li><b>Formato de pantalla:</b> Plano</li>
                <li><b>Tipo de pantalla:</b>
                LED 4K Ultra HD</li>
                <li><b>Caracteristicas generales:</b>Smart TV</li>
                <li><b>Caracteristicas Smart:</b></li>
                <li><b> Youtube:</b> si</li>
                <li><b>Netflix:</b> si</li>
                <li><b>Entradas hdmi:</b>2</li>
                <li><b>Entradas usb:</b>1</li>
                <li><b>Conexion a internet:</b>si</li>
                <li><b>Control remoto:</b>si</li>
                <li><b>Dimenciones:</b></li>
                <li><b>Alto</b>: 57,2cm</li>
                <li><b>Ancho:</b>97,9cm</li>
                <li><b> Profundidad:</b> 7,7cm</li>
                <li><b> Peso:</b> 8,3kg</li>
                <li><b>Modelo:</b>UN43TU7000</li>
                <li><b>Origen:</b>Argentina</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="separador3">

    <!-- GALERIA GLIDER DE PRODUCTOS RECOMENDADOS-->

    <section class="productos-recomendados">
      <div class="productos">
        <h3>Mira tambien</h3>
        <!--SLIDER DE GLIDER-->
        <div class="glider-contain">
          <div class="glider">
            <div><img src="../public/img/detailProduct/visa-removebg-preview 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/american_express-removebg-preview 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/tarjeta naranja imagen 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/visa-removebg-preview 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/visa-removebg-preview 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/american_express-removebg-preview 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/tarjeta naranja imagen 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/visa-removebg-preview 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/visa-removebg-preview 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/american_express-removebg-preview 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/tarjeta naranja imagen 1.png" alt=""></div>
            <div><img src="../public/img/detailProduct/visa-removebg-preview 1.png" alt=""></div>
          </div>
          <button aria-label="Previous" class="glider-prev">«</button>
          <button aria-label="Next" class="glider-next">»</button>
          <div role="tablist" class="dots" id="dots"></div>
        </div>
      </div>
    </section>
  </main>


  <!--FOOTER-->
  <footer>

    <div class="redes-sociales">
      <span class="seguinos">¡Seguinos!</span>
    
    <div class="img-footer">
      <a  href="#"><img class="instagram " src="../public/img/redes-sociales/instagram-f.png" alt=""></a>
      <a  href="#"><img class="facebook "  src="../public/img/redes-sociales/facebook-f.png" alt=""></a>
      <a  href="#"><img class="twitter"  src="../public/img/redes-sociales/twitter-f.png" alt=""></a>
    </div>
    </div>
    
    <div class="atencion-cliente">
    
    <div class="contacto-footer">
      <p>¿Tenes alguna duda?</p>
      <p>Nosotros te ayudamos</p>
    </div>
    <div class="atencion">
         <p><i class="fas fa-paper-plane"></i>Atencion al cliente</p>
         <a href="#">communityElectro@gmail.com</a>
    </div>
    <div class="telefono">
      <p><i class="fas fa-phone-alt"></i>Venta telefonica</p>
         <a href="#">1191234567</a>
         
    </div>
    </div>
    
    <div class="logo-copy">
      <img class="logo" src="../public/img/home/Logo C-E.png" alt="">
      <p class="copy">Los precios expresados incluyen IVA - Las fotografias son a modo ilustrativo - CommunityElectro se reserva el derecho de modificar los precios promocionados.</p>
      <p class="copy"><i class="far fa-copyright"></i>COMMUNITY ELECTRO 2021. Todos los derechos reservados.</p>
    </div>
    </div>
    
  </footer>


  <!--LINK BOOTSTRAP-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
  
  <script src="../public/js/glider.js"></script>
  <script src="../public/js/detailProduct.js"></script>

</body>

</html>