<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <title>Community electro</title>
</head>

<body>

    <header>
    </header>


    <main>
    </main>
    


    <footer>
      <div class="redes-sociales">
          <span class="seguinos">¡Seguinos!</span>

        <div class="img-footer">
          <a  href="#"><img class="instagram " src="../public/img/redes-sociales/instagram-f.png" alt=""></a>
          <a  href="#"><img class="facebook "  src="../public/img/redes-sociales/facebook-f.png" alt=""></a>
          <a  href="#"><img class="twitter"  src="../public/img/redes-sociales/twitter-f.png" alt=""></a>
        </div>
      </div>

      <div class="atencion-cliente">

        <div class="contacto-footer">
          <p>¿Tenes alguna duda?</p>
          <p>Nosotros te ayudamos</p>
        </div>
        <div class="atencion">
             <p><i class="fas fa-paper-plane"></i>Atencion al cliente</p>
             <a href="#">communityElectro@gmail.com</a>
        </div>
        <div class="telefono">
          <p><i class="fas fa-phone-alt"></i>Venta telefonica</p>
             <a href="#">1191234567</a>
             
        </div>
      </div>

        <div class="logo-copy">
          <img class="logo" src="../public/img/home/Logo C-E.png" alt="">
          <p class="copy">Los precios expresados incluyen IVA - Las fotografias son a modo ilustrativo - CommunityElectro se reserva el derecho de modificar los precios promocionados.</p>
          <p class="copy"><i class="far fa-copyright"></i>COMMUNITY ELECTRO 2021. Todos los derechos reservados.</p>
        </div>
      </div>
      
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>