<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<header>

  </header>


  
  <body class="vista-login">
    <main>
        
    <div class="publi">
        <article class="producto">
        <div><img src="/img/carrito/imagen5.jpg" alt="" width="200" height="200" />
        </div>
        <div class="descripcion-producto">
    
          <h4 class="precio">$23.200</h4>
          <h5 class="detalle">Samsung a12</h4>
      </article>
    </div>
    
    <div class="container-login">
        <h3>
            ¡HOLA! PARA SEGUIR NAVEGANDO INGRESA TU USUARIO O REGISTRATE.
        </h3>
        <p class="p">
          
            <label class="casillero">Usuario</label>
                <input type="text"  name="nombre"  placeholder=" Ejemplo@gmail.com">
    
          </p>
    
          <p class="p">
           <label class="casillero">Contraseña</label>
                <input type="password"  name="password">
    
                
            
            <div class="registro">
                <button  class="registrate">
                    Registrarse
                </button>
    </div>
                <div class="iniciar-olvide">
                    <a href="">Olvide mi clave/usuario</a>
                <button class="boton">
                    Iniciar sesion
                </button>
                
            </div>
          </div>
            

    </main>
    </body>
<footer>
    
</footer>
<body>
    
</body>
</html>