@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --colorCeleste: #22B1D0;
    --colorGris: #DCDCDC;
    --colorNaranja: #F49B49;
    --colorBlanco: #FFFFFF;
    --colorVerde:rgb(7, 114, 7);
}


/*!EFECTOS NAV BAR*/

header{
  height: 140px;
}

header .nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
header .nav-links li{
  list-style: none;
  margin: 0 12px;
}
header .nav-links li a{
  position: relative;
  color: #ffdddd;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 0;
  text-decoration: none;
  text-transform: uppercase;
}
header .nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: linear-gradient(to right, #cf8642, #f3a15a, #c57a34);
  border-radius: 12px;
  transition: all 0.4s ease;
}
header .nav-links li a:hover:before{
  width: 100%;
}
header .nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}

header a .logo{
  width: 80px;

}





/*!MENU NAVBAR*/

nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 8px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 60px;
  left: 0;
  line-height: 40px;
  background: #555454;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
 padding-right: 8px;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  border-bottom: 1px solid rgba(255,255,255,0.1);
}























header .btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.9rem 3rem;
  font-size: 1rem;
  color:#fff;
  background: var(--main-color);
  cursor: pointer;
}

header .btn:hover{
  letter-spacing: .2rem;
}

.header{
  background: var(--colorCeleste);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem 7%;
  /*  position: fixed; 
  top:0; left: 0; right: 0;
  z-index: 1000; */
  
}



.header .nav li {
  margin:15px;
  font-size: 17px;
  font-weight: 600;
  color:#fff;
}

.header .navbar a:hover{
  color:var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}

.header .icons div{
  color:#fff;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color:var(--main-color);
}

#menu-btn{
  display: none;
}

.header .cart-items-container{
  position: absolute;
  top:100%; right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding:0 1.5rem;
}

.header .cart-items-container.active{
  right: 0;
}

.header .cart-items-container .cart-item{
  position: relative;
  margin:2rem 0;
  display: flex;
  align-items: center;
  gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
  position: absolute;
  top:1rem; right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
  color:var(--main-color);
}



.header .cart-items-container .cart-item .content h3{
  font-size: 2rem;
  color:var(--black);
  padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
  font-size: 1.5rem;
  color:var(--main-color);
}

.header .cart-items-container .btn{
  width: 100%;
  text-align: center;
}





/*!MENU BURGUER*/

.burguer-nav .mainMenu {
  display: flex;
  list-style: none;
}
.burguer-nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
}
.burguer-nav .mainMenu li a:hover {
  background: rgb(255,94,0);
}
.burguer-nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
.burguer-nav .mainMenu .closeMenu , .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

.burguer-nav .logo {
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
}
@media(max-width: 450px){
  .burguer-nav{
    color: #fff;
    position: absolute;
    left: 5px;
  
  
  }
  .burguer-nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--colorNaranja);
      transition: top 1s ease;
      display: none;
  }
  .burguer-nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

  }
  .burguer-nav .openMenu {
      display: block;
  }
  .burguer-nav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
      font-size: 1.6rem;
  }
  .icons-burguer i {
      display: inline-block;
      padding: 12px;
  }
}

@media (min-width:450px){
  .burguer-nav {
    display:none;
  }
  .burguer-nav .mainMenu {
    
    display: none;
}


}






















/* media queries  */
@media (max-width:1991px){

  .nav li{
      font-size: 14px;
  }

  .header{
      padding:1.5rem 2rem;
  }


  .nav li{
    text-transform: uppercase;
  }
  header .fa-bars{
    display: none;
  }
 

}



@media (max-width:768px){

  .nav li a {
    display:none;
  }

  header .fa-bars{
    display: none;
  }

}

@media (max-width:450px){
  .header{
    width: 100vw;
    height: 180px;
    position:relative;
  }

 /* header  .logo-link{

   }

 */
  header  .logo-link .logo{
   width: 60px;
  }
  
  .header .logo-link{
    padding-left: 40px;
  }


   .header .form-search {
     width: 100%;
     position: absolute;
      top:60%;
      right: 7%;
  } 

  header .form-search .input-search input{
    width: 90%;
  }

  .nav li{
      font-size: 14px;
  }

  header .fa-bars{
    display: block;
  }

  /* header .links{
    display:none;
  }
 */
}

















/*  !BUSCADOR*/

header .form-search {
  width: 60%;
	margin: auto;
  height: 100%;
  padding-top: 20px;
  padding-left: 55px;
  position: relative;
}
header .form-search > div {
	display: flex;
	background:#fff;
	padding: 9px 22px 9px 26px;
	border-radius: 30px;
	border:2px solid #cad3dc;
	box-shadow: 
		rgba(0, 0, 0, 0.1) 10px 10px 10px,

		rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
}
header .form-search input {
  outline: none;
	border:var(--colorBlanco);
	background: transparent;
	padding-left: 28px;
	background-size: 16px;
	background-repeat: no-repeat;
	width: 100%;
  
}


header .input-search{
 
  margin:auto;

}

header .btn-search{
  text-decoration: none;
  border: none;
  background: none;
  position: absolute;
}

header .nav{
width: 100%;
position: absolute;
top: 65%;
left: 4%;
}
header .nav li a{
font-size: 14px;
}
header .fa-search{
  color: var(--colorCeleste);
}