:root{
    --colorCeleste: #22B1D0;
    --colorGris: #DCDCDC;
    --colorNaranja: #F49B49;
    --colorBlanco: #FFFFFF;
    --colorVerde:rgb(7, 114, 7);
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.products-search a{
    text-decoration: none;
}
.products-search li{
    list-style: none;
}



.products-search img{
    max-width:100%;
}






/* .products-search .box-product a{
    width: 25%;
} */

.products-search main p{
    font-weight: 500;
    font-size: 16px;
    margin-left: 5px;
}





main{
    width:100%;
}


.products-search section{
    max-width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    align-content: center;
    
}


.products-search .box-product{
    margin: 10px;
}

/*!TARJETAS ARTICULOS RECOMENDADOS*/
 

 .products-search .card-search{
    width:250px;
    height: 450px;
    border-radius: 6px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgb(0,0,0, 0.2);
    cursor: pointer;
    transition: all 400ms ease;
    position:relative;
}

 .products-search .card-search:hover{
    box-shadow: 5px 5px 20px rgb(0,0,0, 0.4);
    transform: translateY(-3%);
}

 .products-search .card-search img{
    width: 100%;
    height: 234.44px;
}

.products-search  .card-search .contenido{
    padding: 15px;
    text-align: center;

}

 .products-search .card-search .contenido p {
    height: 20px;
    line-height: 1.5;
    color: #6a6a6a;
}

 .products-search .card-search .contenido h3{
    height: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 18px;
    color: black;
}

 .products-search .card-search .contenido .precio{
    height: 20px;
    font-size: 22px;
    font-weight: 600;
    color: black;
}

 .products-search .glider-detail{
    margin-top: 30px;
}

 .products-search .glider-detail a{
    text-decoration: none;
}

 .products-search .contenido .descuento {
    display: flex;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #22B1D0, #1fd2fa, #14b7db);
    border: solid 1px black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;
    position: absolute;
    left: 60%;
    top: 4%;
    z-index: 2;
}

 .products-search .contenido  .descuento p {
    margin: auto;
    color: #fff;
    font-weight: 400;
}

 .products-search .contenido .envio-gratis p {
    font-size: 12px;
}

 .products-search .contenido .envio-gratis p b {
    color: var(--colorVerde);
}

 .products-search .contenido .envio-gratis i {
    margin-right: 2px;
    color: var(--colorVerde);
    border: solid 1px black;
    border-radius: 50%;
    padding: 5px;
    width:24px;
    height:24px;
}

 .products-search .precio-regular{
    font-size: 12px;
    text-decoration: line-through;
    opacity: 0.5;
    
}

 .products-search .buttom-search{
     width: 50px;
     height: 50px;
     color: #ffffff;
    opacity: 100;
}

@media (max-width: 750px){
    .products-search section{
        display: flex;
        justify-content: center;
    }
}