<header>

  <div class="nav-search-header">
    <div class="menu-burger"><i class="fas fa-bars"></i></div>
    <div class="logo"> <a href="/"><img src="/images/home/Logo C-E.png" alt=""></div></a>

    <div class="searh-header">
      <div class="buscador">
        

      </div>


      <!--SEARCH BAR-->
  <div class="box">
    <input type="checkbox" id="check">
    <div class="search-box">
      <input type="text" placeholder="Buscar...">
      <label for="check" class="icon">
        <i class="fas fa-search"></i>
      </label>
    </div>
  </div>


<div class="menu-bar">
  <ul class="nav-links">
    <li class="center"><a href="#">ofertas</a></li>
    <li class="center"><a href="#">oportunidades</a></li>
    <li class="center"><a href="#">categorias</a></li>
  </ul>
</div>




      <!-- <div class="menu-bar">
        <ul class="nav-links">
          <li class="center"><a href="">Ofertas</a></li>
          <li class="upward"><a href="">Opotunidades</a></li>
          <li class="forward"><a href="">Ayuda</a></li>
        </ul>
      </div> -->

    </div>
<div class="menu-head">
      

 <% if (locals.userLogin) { %>

<!--SI SE LOGUEA UN USUARIO-->
  <nav class="nav-user">
    
    <div class="navbar"> 
      
      <div class="nav-links">

        <ul class="links">
          
          <li>
            <a href="#"><img width="30" height="30" class="rounded-circle" src="/images/users/<%= locals.userLogin.avatar %>" alt=""><%= locals.userLogin.name %><i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i></a>
            
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a class="user-head" href="/users/profile"><i class="far fa-user-circle"></i> Mi perfil</a></li>
              <li><a class="user-head" href="/users/logout"><i class="fas fa-power-off"></i> Cerrar sesión</a></li>
              <% if (locals.userLogin.rol === 2) { %>

                <!--SI SE LOGUEA UN ADMINISTRADOR-->
                
            <li><a class="icon-admin" href="../admin"><i class="fas fa-users-cog"></i>Administrador</a></li>

          <% } %> 
        <% }else{ %>

             <a class="user-head" href="../users/login"><i class="fas fa-user"></i></a>
             
            </ul>
    
    </ul>
    

    </div>

  </nav>
 

  <script src="../../public/javascripts/header.js"></script>
    <% } %>
    <a class="carrito-head" href="../product/carrito"><i class="fas fa-shopping-cart"></i></a>
    </div>
     
    

  </div>

</header> 
