<header>

  <div class="nav-search-header">
    <div class="logo"> <a href="/"><img src="/images/home/Logo C-E.png" alt=""></div></a>

    <div class="searh-header">
      <div class="buscador">
        <div class="search-bar"><input type="text" class="buscar_texto"></div>
        <div class="search"><button type="submit"><i class="fas fa-search"></i></button> </div>

      </div>



      <div class="navbar">
        <ul>
          <li><a href="">OFERTAS</a></li>
          <li><a href="">OPORTUNIDADES</a></li>
          <li><a href="">AYUDA</a></li>
        </ul>
      </div>
     




    </div>







    <div class="menu-head">
 
      <!--MENU DESPLEGABLE USUARIO-->
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      <% if (locals.userLogin) { %>
        <img width="30" height="30" class="rounded-circle" src="/images/users/<%= locals.userLogin.avatar %>" alt="">  <%= locals.userLogin.name %>
       <% } else { %>    
          <i class="fas fa-user"></i> Mi cuenta
          <% } %>

    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <% if (locals.userLogin) { %>
      <li><a class="dropdown-item" href="/users/profile"><i class="far fa-user-circle"></i> Mi perfil</a></li>
      <% } else { %>
      <li><a class="dropdown-item" href="/users/login"><i class="far fa-user-circle"></i> Iniciar sesion</a></li>
      <% } %>
      <% if (locals.userLogin) { %>
      <li><a class="dropdown-item" href="/users/logout"><i class="fas fa-power-off"></i> Cerrar sesion</a></li>
      <% } else { %>
        <li><a class="dropdown-item" href="/users/register"><i class="fas fa-sign-in-alt"></i> Registrate</a></li>
        <% } %>
        <% if (locals.userLogin && locals.userLogin.rol === 'admin') { %>
          <li><a class="dropdown-item" href="/admin"><i class="fas fa-users-cog"></i> Administrador</a></li>
          <% } %>
    </ul>
    <a class="menu-burguer" href=""><i class="fas fa-bars"></i></a>
    <a class="carrito-head" href="../product/carrito"><i class="fas fa-shopping-cart"></i></a>
  </div>



          
          
        
    </div>
    
  </div>

</header> 





        
