
<header class="header">

 

  
    <a class="logo-link" href="/" >
        <img class="logo" src="/images/home/Logo C-E.png" alt="">
    </a>



    <form id="search" class="form-search" action="/product/searchHome" autocomplete="on">
      <div class="input-search">
        <input type="text" name="search" placeholder="Buscar producto...">
        <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>


      </div>
        <nav class="navbar nav nav-links">
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Oportunidades</a></li>
      <li><a href="#">Categorias</a></li>
    
      
  </nav>
    </form>


    
    <!--Menu hambuerguesa /  mobile-->
        <nav class="burguer-nav">
          
          <div class="openMenu"><i class="fa fa-bars"></i></div>
          <ul class="mainMenu">
            
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Oportunidades</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Nosotros</a></li>
              <div class="closeMenu"><i class="fa fa-times"></i></div>
              <span class="icons-burguer">
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-twitter"></i>
              </span>
          </ul>
      </nav>

  



    


    
    

  <div class="icons">
        

     

  
      
        <!-- 

        <div class="fas fa-user" id="search-btn"></div>

        <div class="fas fa-users-cog" id="search-btn"></div>

        <div class="" id="cart-btn"></div>

        <div class="fas fa-bars" id="menu-btn"></div> -->
        
       <!--SI SE LOGUEA UN USUARIO-->
      
        
  <nav class="nav-user">
     
    <div class="navbar">
      
      
     

        <ul class="links">
         
          <li>
           
             <% if (locals.userLogin) { %>
              
            <a href="#"><img width="30" height="30" class="rounded-circle" src="/images/users/<%= userLogin.avatar %>" alt=""><%= locals.userLogin.name %><i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i></a>
            
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a class="user-head" href="/users/profile"><i class="far fa-user-circle"></i> Mi perfil</a></li>
              <li><a class="user-head" href="/users/logout"><i class="fas fa-power-off"></i> Cerrar sesión</a></li>
              <li><a href="users/carrito"><i class="fas fa-shopping-cart" id="cart-btn"></i> Carrito</a></li>
              <% if (locals.userLogin.rol === 2) { %>

                <!--SI SE LOGUEA UN ADMINISTRADOR-->
                
            <li><a class="icon-admin" href="/admin"><i class="fas fa-users-cog"></i> Administrador</a></li>

          <% } %> 
        <% }else{ %>
          
             <a class="user-head" href="../users/login"><div class="fas fa-user"></div></a>
             
              <div class="fas fa-bars" id="menu-btn"></div>
            </ul>
     <% } %>
    </ul>
    
      
    </div>

  </nav>
 

  
   
   



  
    
    </div>
  






<!-- custom js file link  -->
<script src="/javascripts/header.js"></script>
<script src="/javascripts/burguerMenu.js"></script>
<script src="/javascripts/seacrhBar.js"></script>
</header> 
