<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%-include('../partials/head',{title: 'Login'}) %>

<body class="login">

    <!-- header -->
  <%-include('../partials/header') %>
<div class="login-container"></div>
  <img class="wave" src="/images/login/wave-naranja.png">
	<div class="container">
		<div class="img-login">
			<img src="/images/home/Logo C-E.png">
		</div>
		<div class="login-content">
			<form action="" method="POST">
				<img  src="/images/users/avatar-login.png">
				<h2 class="title">Bienvenid@</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input type="email" class="input" name="email">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input" name="password">
            	   </div>
            	</div>

                <!-- recuerdame -->
                <div class="box-check">
					<label class="remember" for="remember">Recuerdame</label>
					<input class="inp-remember" type="checkbox" id="remember" name="remember">
				  </div>
  
				  <!-- errors -->
				  
				  <span class="text-danger"><%= locals.errores && errores.email ? errores.email.msg : null %></span>

            	<a class="crear-cuenta" href="/users/register">Crear cuenta</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
  



<!--SCRIPTS-->
  <%-include('../partials/scripts')%> 
  
   <script type="text/javascript" src="/javascripts/login.js"></script>
</body>

</html>